/**
 * @description guide styles
 */

div.doc-section {
  margin: 30px 0;
}

.img-filler {
  width: 100%;
  height: 113px;
  border: 1px solid #999;
}

.hidden-code a {
  font-size: 12px;
  color: #999;
}

.hidden-code > div {
  display: none;
}

/* --- example grid --- */

#grid .example-grid {
  overflow: hidden;
}

#grid .example-grid .row div {
  background: #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
}

#grid .example-grid .row div:hover {
	background: #bbb;
	color: #333;
}

/* --- boxes --- */

#boxes div.boxes-outer {
	background: #e9e9e9;
}

#boxes div.boxes-outer:hover {
	background: #d6d6d6;
}


.post-button-note, .post-button-note a {
	font-size: 11px;
	color: #999;
}

/* --- buttons --- */

#buttons a,
#buttons input,
#buttons button {
  margin-right: 20px;
}

#icons li {
  margin-bottom: 20px;
}

#icons span {
  font-size: 30px;
  line-height: 30px;
  position: relative;
  top: 7px;
  left: 0px;
  margin-right: 10px;
}

/* --- color palate --- */

.color-palate-item {
	width: 120px;
	height: 150px;
	margin: 0px 20px 20px 0px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	cursor: pointer;
}

/* --- gist --- */

.gist-meta {
  display: none !important;
}
