/* Rebar v0.1.0
 * Designed and built by @brennannovak
 * http://github.com/brennannovak/Rebar
 */
/* Config - change settings in this file for the look and feel of your style */
/* Rebar v0.1.0
 * config.less
 */
/* Colors */
/* Body */
/* Container */
/* Margins, Paddings, and Spacings */
/* Text */
/* Links */
/* Headings */
/* Navigation */
/* Lists */
/* Separators */
/* Buttons */
/* Forms */
/* Tables */
/* Grid */
/* Boxes */
/* Rectangles */
/* Messages */
/* Bower */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Rebar - these files reset and style all the basic HTML elements */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* #Body Styles
================================================== */
body {
  background:    #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: OpenSans-Regular, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
/* #Buttons
================================================== */
/* Primary */
.button,
.button-primary,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #ffffff !important;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal !important;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #0a87bf;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button:visited,
.button-primary:visited {
  color: #ffffff !important;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal !important;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #0a87bf;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button:hover,
.button-primary:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #075e85;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button:active,
.button-primary:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #075e85;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* Secondary */
.button-secondary {
  color: #ffffff !important;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal !important;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #7ba2a7;
  border-top: 1px solid #9dc4c9;
  border-left: 1px solid #9dc4c9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #078754;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary:hover {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #022618;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button-secondary:active {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #022618;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* Alert */
.button-alert {
  color: #ffffff !important;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal !important;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #8596b3;
  border-top: 1px solid #a7b8d5;
  border-left: 1px solid #a7b8d5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #826f69;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-alert:hover {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #4a3f3b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button-alert:active {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #4a3f3b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* Warning */
.button-warning {
  color: #ffffff !important;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal !important;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 1px solid #713c2a;
  border-top: 1px solid #935e4c;
  border-left: 1px solid #935e4c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #b50606;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-warning:hover {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #520303;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button-warning:active {
  border: 1px solid #0a87bf;
  border-top: 1px solid #2ca9e1;
  border-left: 1px solid #2ca9e1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #520303;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* Icons */
.button span,
.button-secondary span,
.button-alert span,
.button-warning span {
  margin-right: 5px;
}
/* Full Width */
.button.full-width,
.button-primary.full-width,
.button-secondary.full-width,
.button-alert.full-width,
.button-warning.full-width,
.button-big-primary.full-width,
.button-big-secondary.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* --- Clearing --- */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Clearfix helper */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Vertical Margins & Padding */
.remove-top {
  margin-top: 0 !important;
}
.half-top {
  margin-top: 10px !important;
}
.add-top {
  margin-top: 45px !important;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 10px !important;
}
.add-bottom {
  margin-bottom: 45px !important;
}
/* Centering */
.left {
  float: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float: right;
}
.verticle-middle {
  display: inline-table !important;
  vertical-align: middle;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* Hide */
.hide {
  display: none;
}
/* #Forms
================================================== */
.standard form {
  margin-bottom: 20px;
}
.standard fieldset {
  margin-bottom: 20px;
}
.standard input[type="text"],
.standard input[type="password"],
.standard input[type="email"],
.standard input[type="url"],
.standard input[type="phone"],
.standard input[type="address"],
.standard textarea,
.standard select {
  padding: 10px 12px;
  outline: none;
  font-size: 18px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.standard select {
  padding: 0;
}
.standard input[type="text"]:focus,
.standard input[type="password"]:focus,
.standard input[type="email"]:focus,
.standard textarea:focus {
  border: 1px solid #666666;
  color: #333333;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.standard textarea {
  min-height: 60px;
}
.standard label,
.standard legend {
  display: block;
  font-weight: normal;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
}
.standard select {
  color: #0a87bf;
  width: 220px;
}
.standard input[type="checkbox"] {
  display: inline;
}
.standard label span,
.standard legend span {
  font-weight: normal;
  font-size: 14px;
  color: #444;
}
.standard a {
  font-style: normal;
}
.standard label span.form_error {
  margin: 0 0 0 3px;
  color: #0a87bf;
}
/**
 * @name Rebar Grid v0.0.1
 * @description
 *   - web big 1140 grid
 *   - web 960 grid
 *   - tablet (portrait)
 *   - mobile (portrait)
 *   - mobile (landscape)
 *   - auto-clearing
 */
.container {
  width: 1140px;
  margin: 0px auto;
}
.container div.row {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  zoom: 1;
}
.container div.row:before,
.container div.row:after {
  content: "";
  display: table;
}
.container div.row:after {
  clear: both;
}
.container div:first-child {
  margin-left: 0;
}
.container div:last-child {
  margin-right: 0;
}
.container .col-1,
.container .col-2,
.container .col-3,
.container .col-4,
.container .col-5,
.container .col-6,
.container .col-7,
.container .col-8,
.container .col-9,
.container .col-10,
.container .col-11,
.container .col-12,
.container .col-13,
.container .col-14,
.container .col-15,
.container .col-16,
.container .one-third,
.container .two-thirds,
.container .half,
.container .one-quarter,
.container .three-quarters {
  float: left;
  display: inline;
  margin: 0px 1%;
  min-height: 1px;
  word-wrap: break-word;
}
.container .one-quarter {
  width: 23.5%;
}
.container .three-quarters {
  width: 74.5%;
}
.container .one-third {
  width: 32%;
}
.container .two-thirds {
  width: 52%;
}
.container .half {
  width: 49%;
}
/* --- LESS mixin to generate multiple size grids --- */
/* ---- Web, max grid ---- */
@media only screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .container .col-1 {
    width: 4.4%;
  }
  .container .col-2 {
    width: 10.8%;
  }
  .container .col-3 {
    width: 17.2%;
  }
  .container .col-4 {
    width: 23.6%;
  }
  .container .col-5 {
    width: 30%;
  }
  .container .col-6 {
    width: 36.4%;
  }
  .container .col-7 {
    width: 42.8%;
  }
  .container .col-8 {
    width: 49.0%;
  }
  .container .col-9 {
    width: 55.2%;
  }
  .container .col-10 {
    width: 61.6%;
  }
  .container .col-11 {
    width: 68%;
  }
  .container .col-12 {
    width: 74.4%;
  }
  .container .col-13 {
    width: 80.8%;
  }
  .container .col-14 {
    width: 87.2%;
  }
  .container .col-15 {
    width: 93.6%;
  }
  .container .col-16 {
    width: 100%;
  }
  .container .col-offset-1 {
    padding-left: 4.4%;
  }
  .container .col-offset-2 {
    padding-left: 10.8%;
  }
  .container .col-offset-3 {
    padding-left: 17.2%;
  }
  .container .col-offset-4 {
    padding-left: 23.6%;
  }
  .container .col-offset-5 {
    padding-left: 30%;
  }
  .container .col-offset-6 {
    padding-left: 36.4%;
  }
  .container .col-offset-7 {
    padding-left: 42.8%;
  }
  .container .col-offset-8 {
    padding-left: 49%;
  }
  .container .col-offset-9 {
    padding-left: 55.2%;
  }
  .container .col-offset-10 {
    padding-left: 61.6%;
  }
  .container .col-offset-11 {
    padding-left: 68%;
  }
  .container .col-offset-12 {
    padding-left: 74.4%;
  }
  .container .col-offset-13 {
    padding-left: 80.8%;
  }
  .container .col-offset-14 {
    padding-left: 87.2%;
  }
  .container .col-offset-15 {
    padding-left: 93.6%;
  }
}
/* ---- Web, 960 grid ---- */
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  .container {
    width: 960px;
  }
  .container .col-1 {
    width: 4.4%;
  }
  .container .col-2 {
    width: 10.8%;
  }
  .container .col-3 {
    width: 17.2%;
  }
  .container .col-4 {
    width: 23.6%;
  }
  .container .col-5 {
    width: 30%;
  }
  .container .col-6 {
    width: 36.4%;
  }
  .container .col-7 {
    width: 42.8%;
  }
  .container .col-8 {
    width: 49.0%;
  }
  .container .col-9 {
    width: 55.2%;
  }
  .container .col-10 {
    width: 61.6%;
  }
  .container .col-11 {
    width: 68%;
  }
  .container .col-12 {
    width: 74.4%;
  }
  .container .col-13 {
    width: 80.8%;
  }
  .container .col-14 {
    width: 87.2%;
  }
  .container .col-15 {
    width: 93.6%;
  }
  .container .col-16 {
    width: 100%;
  }
  .container .col-offset-1 {
    padding-left: 4.4%;
  }
  .container .col-offset-2 {
    padding-left: 10.8%;
  }
  .container .col-offset-3 {
    padding-left: 17.2%;
  }
  .container .col-offset-4 {
    padding-left: 23.6%;
  }
  .container .col-offset-5 {
    padding-left: 30%;
  }
  .container .col-offset-6 {
    padding-left: 36.4%;
  }
  .container .col-offset-7 {
    padding-left: 42.8%;
  }
  .container .col-offset-8 {
    padding-left: 49%;
  }
  .container .col-offset-9 {
    padding-left: 55.2%;
  }
  .container .col-offset-10 {
    padding-left: 61.6%;
  }
  .container .col-offset-11 {
    padding-left: 68%;
  }
  .container .col-offset-12 {
    padding-left: 74.4%;
  }
  .container .col-offset-13 {
    padding-left: 80.8%;
  }
  .container .col-offset-14 {
    padding-left: 87.2%;
  }
  .container .col-offset-15 {
    padding-left: 93.6%;
  }
}
/* ---- Tablet (portrait) design for a width of 768px ---- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .container .col-1 {
    width: 4.4%;
  }
  .container .col-2 {
    width: 10.8%;
  }
  .container .col-3 {
    width: 17.2%;
  }
  .container .col-4 {
    width: 23.6%;
  }
  .container .col-5 {
    width: 30%;
  }
  .container .col-6 {
    width: 36.4%;
  }
  .container .col-7 {
    width: 42.8%;
  }
  .container .col-8 {
    width: 49.0%;
  }
  .container .col-9 {
    width: 55.2%;
  }
  .container .col-10 {
    width: 61.6%;
  }
  .container .col-11 {
    width: 68%;
  }
  .container .col-12 {
    width: 74.4%;
  }
  .container .col-13 {
    width: 80.8%;
  }
  .container .col-14 {
    width: 87.2%;
  }
  .container .col-15 {
    width: 93.6%;
  }
  .container .col-16 {
    width: 100%;
  }
  .container .col-offset-1 {
    padding-left: 4.4%;
  }
  .container .col-offset-2 {
    padding-left: 10.8%;
  }
  .container .col-offset-3 {
    padding-left: 17.2%;
  }
  .container .col-offset-4 {
    padding-left: 23.6%;
  }
  .container .col-offset-5 {
    padding-left: 30%;
  }
  .container .col-offset-6 {
    padding-left: 36.4%;
  }
  .container .col-offset-7 {
    padding-left: 42.8%;
  }
  .container .col-offset-8 {
    padding-left: 49%;
  }
  .container .col-offset-9 {
    padding-left: 55.2%;
  }
  .container .col-offset-10 {
    padding-left: 61.6%;
  }
  .container .col-offset-11 {
    padding-left: 68%;
  }
  .container .col-offset-12 {
    padding-left: 74.4%;
  }
  .container .col-offset-13 {
    padding-left: 80.8%;
  }
  .container .col-offset-14 {
    padding-left: 87.2%;
  }
  .container .col-offset-15 {
    padding-left: 93.6%;
  }
}
/* ---- Mobile (landscape) design for a width of 480px ---- */
@media only screen and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .container div.row {
    margin-bottom: 0px;
  }
  .container .col-1,
  .container .col-2,
  .container .col-3,
  .container .col-4,
  .container .col-5,
  .container .col-6,
  .container .col-7,
  .container .col-8,
  .container .col-9,
  .container .col-10,
  .container .col-11,
  .container .col-12,
  .container .col-13,
  .container .col-14,
  .container .col-15,
  .container .col-16,
  .container .one-quarter,
  .container .three-quarters,
  .container .one-third,
  .container .two-thirds,
  .container .half {
    margin: 0px 0px 20px 0px;
    width: 420px;
  }
  .container .col-offset-1,
  .container .col-offset-2,
  .container .col-offset-3,
  .container .col-offset-4,
  .container .col-offset-5,
  .container .col-offset-6,
  .container .col-offset-7,
  .container .col-offset-8,
  .container .col-offset-9,
  .container .col-offset-10,
  .container .col-offset-11,
  .container .col-offset-12,
  .container .col-offset-13,
  .container .col-offset-14,
  .container .col-offset-15 {
    margin: 0px 0px 20px 0px;
  }
}
/* #Images
================================================== */
img {
  max-width: 100%;
  height: auto;
}
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Links
================================================== */
a,
a:visited {
  font-size: 18px;
  color: #b50606;
  font-weight: bold;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #ac0f0f;
  text-decoration: underline;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Lists
================================================== */
ul {
  margin-bottom: 40px;
  padding: 0px;
  list-style: none outside;
}
ol {
  margin-bottom: 40px;
  padding: 0px;
  list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
  margin-bottom: 40px;
  margin-left: 30px;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 40px;
  margin-left: 30px;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 15px;
  line-height: 18px;
}
li {
  margin-bottom: 15px;
  line-height: 18px;
}
ul li p,
ul.large li,
ol.large li {
  font-size: 27px;
  line-height: 27px;
}
ul.horizontal li,
ol.horizontal li {
  display: inline-block;
  float: left;
}
/* Messages - error, warning, debug, info, success */
#messages div {
  margin: 0px;
  padding: 10px 10px 10px 20px;
  list-style: none;
  font-family: OpenSans-Semibold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  border-bottom: 0px solid #b7bfc8;
  background-color: #ffffff;
  zoom: 1;
}
#messages div:before,
#messages div:after {
  content: "";
  display: table;
}
#messages div:after {
  clear: both;
}
#messages span.message-text {
  width: 90%;
  padding-top: 3px;
  display: block;
  float: left;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}
#messages abbr.message-close {
  cursor: pointer;
  float: right;
  display: block;
  background: #ffffff;
  color: #333333;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}
#messages abbr.message-close:hover {
  background: #b7bfc8;
}
#messages .error {
  background-color: #b50606;
  color: #ffffff;
}
#messages .warning {
  background-color: #f38b00;
  color: #ffffff;
}
#messages .debug {
  background-color: #f8e406;
  color: #333333;
}
#messages .info {
  background-color: #0a87bf;
  color: #ffffff;
}
#messages .success {
  background-color: #078754;
  color: #ffffff;
}
/* Navigation */
#navigation {
  background: #222222;
  z-index: 10;
  color: #eeeeee;
}
#navigation a {
  color: #eeeeee;
  text-decoration: none;
}
#navigation a:hover {
  color: #aaaaaa;
}
#navigation span.name_ome {
  color: #818181;
}
#navigation_logo {
  display: none;
}
/* Navigation Sub */
.navigation-sub {
  background: #d9d9d9;
  border-radius: 10px;
}
/* Separators
================================================== */
hr {
  border: solid #333333;
  border-width: 1px 0 0;
  clear: both;
  margin: 45px 0;
  height: 0;
}
hr.medium {
  border: none;
  height: 2px;
  margin: 45px 0;
  background: #333333;
}
hr.large {
  border: none;
  height: 4px;
  margin: 45px 0;
  background: #333333;
}
hr.giant {
  border: none;
  height: 8px;
  margin: 45px 0;
  background: #333333;
}
/**
 * @name Rebar Boxes
 * @description
 *   - web max 1140
 *   - web 960
 *   - tablet
 *   - mobile
 */
.boxes-outer {
  position: relative;
  float: left;
  display: block;
}
.boxes-inner h1,
.boxes-inner h2,
.boxes-inner h3,
.boxes-inner h4 {
  font-size: 24px;
  margin-bottom: 15px;
}
.boxes-inner p {
  font-size: 14px;
}
.boxes-inner p a {
  font-size: 14px;
  color: #b7bfc8;
}
.boxes-inner a.bottom {
  position: absolute;
  bottom: 15px;
}
.boxes-inner a.bottom.right {
  right: 15px;
}
/* --- LESS mixin to generate multiple sizes --- */
/* Five Column, 1140 web max  */
@media only screen and (min-width: 1140px) {
  .container .boxes-outer {
    width: 19.1%;
    padding-bottom: 19.1%;
    margin-right: 1.1%;
    margin-bottom: 1.2%;
  }
  .container .boxes-outer:nth-child( 6),
  .container .boxes-outer:nth-child( 11),
  .container .boxes-outer:nth-child( 16),
  .container .boxes-outer:nth-child( 21),
  .container .boxes-outer:nth-child( 26),
  .container .boxes-outer:nth-child( 31),
  .container .boxes-outer:nth-child( 36),
  .container .boxes-outer:nth-child( 41),
  .container .boxes-outer:nth-child( 46),
  .container .boxes-outer:nth-child( 51),
  .container .boxes-outer:nth-child( 56),
  .container .boxes-outer:nth-child( 61),
  .container .boxes-outer:nth-child( 66),
  .container .boxes-outer:nth-child( 71),
  .container .boxes-outer:nth-child( 76),
  .container .boxes-outer:nth-child( 81),
  .container .boxes-outer:nth-child( 86),
  .container .boxes-outer:nth-child( 91),
  .container .boxes-outer:nth-child( 96),
  .container .boxes-outer:nth-child( 101),
  .container .boxes-outer:nth-child( 106),
  .container .boxes-outer:nth-child( 111),
  .container .boxes-outer:nth-child( 116),
  .container .boxes-outer:nth-child( 121),
  .container .boxes-outer:nth-child( 126),
  .container .boxes-outer:nth-child( 131),
  .container .boxes-outer:nth-child( 136),
  .container .boxes-outer:nth-child( 141),
  .container .boxes-outer:nth-child( 146),
  .container .boxes-outer:nth-child( 151),
  .container .boxes-outer:nth-child( 156),
  .container .boxes-outer:nth-child( 161),
  .container .boxes-outer:nth-child( 166),
  .container .boxes-outer:nth-child( 171),
  .container .boxes-outer:nth-child( 176),
  .container .boxes-outer:nth-child( 181),
  .container .boxes-outer:nth-child( 186),
  .container .boxes-outer:nth-child( 191),
  .container .boxes-outer:nth-child( 196),
  .container .boxes-outer:nth-child( 201) {
    margin-right: 0px;
  }
  .container .boxes-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 15px;
    color: #555555;
    overflow: hidden;
  }
}
/* Four Column, 960 web */
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  .container .boxes-outer {
    width: 23.1%;
    padding-bottom: 23.1%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
  }
  .container .boxes-outer:nth-child( 5),
  .container .boxes-outer:nth-child( 9),
  .container .boxes-outer:nth-child( 13),
  .container .boxes-outer:nth-child( 17),
  .container .boxes-outer:nth-child( 21),
  .container .boxes-outer:nth-child( 25),
  .container .boxes-outer:nth-child( 29),
  .container .boxes-outer:nth-child( 33),
  .container .boxes-outer:nth-child( 37),
  .container .boxes-outer:nth-child( 41),
  .container .boxes-outer:nth-child( 45),
  .container .boxes-outer:nth-child( 49),
  .container .boxes-outer:nth-child( 53),
  .container .boxes-outer:nth-child( 57),
  .container .boxes-outer:nth-child( 61),
  .container .boxes-outer:nth-child( 65),
  .container .boxes-outer:nth-child( 69),
  .container .boxes-outer:nth-child( 73),
  .container .boxes-outer:nth-child( 77),
  .container .boxes-outer:nth-child( 81),
  .container .boxes-outer:nth-child( 85),
  .container .boxes-outer:nth-child( 89),
  .container .boxes-outer:nth-child( 93),
  .container .boxes-outer:nth-child( 97),
  .container .boxes-outer:nth-child( 101),
  .container .boxes-outer:nth-child( 105),
  .container .boxes-outer:nth-child( 109),
  .container .boxes-outer:nth-child( 113),
  .container .boxes-outer:nth-child( 117),
  .container .boxes-outer:nth-child( 121),
  .container .boxes-outer:nth-child( 125),
  .container .boxes-outer:nth-child( 129),
  .container .boxes-outer:nth-child( 133),
  .container .boxes-outer:nth-child( 137),
  .container .boxes-outer:nth-child( 141),
  .container .boxes-outer:nth-child( 145),
  .container .boxes-outer:nth-child( 149),
  .container .boxes-outer:nth-child( 153),
  .container .boxes-outer:nth-child( 157),
  .container .boxes-outer:nth-child( 161) {
    margin-right: 0px;
  }
  .container .boxes-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 15px;
    color: #555555;
    overflow: hidden;
  }
}
/* Three Column, tablet landscape  */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container .boxes-outer {
    width: 31%;
    padding-bottom: 31%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
  }
  .container .boxes-outer:nth-child( 4),
  .container .boxes-outer:nth-child( 7),
  .container .boxes-outer:nth-child( 10),
  .container .boxes-outer:nth-child( 13),
  .container .boxes-outer:nth-child( 16),
  .container .boxes-outer:nth-child( 19),
  .container .boxes-outer:nth-child( 22),
  .container .boxes-outer:nth-child( 25),
  .container .boxes-outer:nth-child( 28),
  .container .boxes-outer:nth-child( 31),
  .container .boxes-outer:nth-child( 34),
  .container .boxes-outer:nth-child( 37),
  .container .boxes-outer:nth-child( 40),
  .container .boxes-outer:nth-child( 43),
  .container .boxes-outer:nth-child( 46),
  .container .boxes-outer:nth-child( 49),
  .container .boxes-outer:nth-child( 52),
  .container .boxes-outer:nth-child( 55),
  .container .boxes-outer:nth-child( 58),
  .container .boxes-outer:nth-child( 61),
  .container .boxes-outer:nth-child( 64),
  .container .boxes-outer:nth-child( 67),
  .container .boxes-outer:nth-child( 70),
  .container .boxes-outer:nth-child( 73),
  .container .boxes-outer:nth-child( 76),
  .container .boxes-outer:nth-child( 79),
  .container .boxes-outer:nth-child( 82),
  .container .boxes-outer:nth-child( 85),
  .container .boxes-outer:nth-child( 88),
  .container .boxes-outer:nth-child( 91),
  .container .boxes-outer:nth-child( 94),
  .container .boxes-outer:nth-child( 97),
  .container .boxes-outer:nth-child( 100),
  .container .boxes-outer:nth-child( 103),
  .container .boxes-outer:nth-child( 106),
  .container .boxes-outer:nth-child( 109),
  .container .boxes-outer:nth-child( 112),
  .container .boxes-outer:nth-child( 115),
  .container .boxes-outer:nth-child( 118),
  .container .boxes-outer:nth-child( 121) {
    margin-right: 0px;
  }
  .container .boxes-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 15px;
    color: #555555;
    overflow: hidden;
  }
}
/* Two Column, mobile portrait & landscape */
@media only screen and (max-width: 767px) {
  .container .boxes-outer {
    width: 47.7%;
    padding-bottom: 47.7%;
    margin-right: 4.5%;
    margin-bottom: 4.5%;
  }
  .container .boxes-outer:nth-child( 3),
  .container .boxes-outer:nth-child( 5),
  .container .boxes-outer:nth-child( 7),
  .container .boxes-outer:nth-child( 9),
  .container .boxes-outer:nth-child( 11),
  .container .boxes-outer:nth-child( 13),
  .container .boxes-outer:nth-child( 15),
  .container .boxes-outer:nth-child( 17),
  .container .boxes-outer:nth-child( 19),
  .container .boxes-outer:nth-child( 21),
  .container .boxes-outer:nth-child( 23),
  .container .boxes-outer:nth-child( 25),
  .container .boxes-outer:nth-child( 27),
  .container .boxes-outer:nth-child( 29),
  .container .boxes-outer:nth-child( 31),
  .container .boxes-outer:nth-child( 33),
  .container .boxes-outer:nth-child( 35),
  .container .boxes-outer:nth-child( 37),
  .container .boxes-outer:nth-child( 39),
  .container .boxes-outer:nth-child( 41),
  .container .boxes-outer:nth-child( 43),
  .container .boxes-outer:nth-child( 45),
  .container .boxes-outer:nth-child( 47),
  .container .boxes-outer:nth-child( 49),
  .container .boxes-outer:nth-child( 51),
  .container .boxes-outer:nth-child( 53),
  .container .boxes-outer:nth-child( 55),
  .container .boxes-outer:nth-child( 57),
  .container .boxes-outer:nth-child( 59),
  .container .boxes-outer:nth-child( 61),
  .container .boxes-outer:nth-child( 63),
  .container .boxes-outer:nth-child( 65),
  .container .boxes-outer:nth-child( 67),
  .container .boxes-outer:nth-child( 69),
  .container .boxes-outer:nth-child( 71),
  .container .boxes-outer:nth-child( 73),
  .container .boxes-outer:nth-child( 75),
  .container .boxes-outer:nth-child( 77),
  .container .boxes-outer:nth-child( 79),
  .container .boxes-outer:nth-child( 81) {
    margin-right: 0px;
  }
  .container .boxes-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 15px;
    color: #555555;
    overflow: hidden;
  }
}
/**
 * @name Rebar Rectangles
 * @description
 *   - web max 1140
 *   - web 960
 *   - tablet
 *   - mobile
 */
.rectangles-outer {
  position: relative;
  float: left;
  display: block;
}
.rectangles-inner h1,
.rectangles-inner h2,
.rectangles-inner h3,
.rectangles-inner h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.rectangles-inner p {
  font-size: 12px;
}
.rectangles-inner p a {
  font-size: 12px;
  color: #b7bfc8;
}
.rectangles-inner a.bottom {
  position: absolute;
  bottom: 10px;
}
.rectangles-inner a.bottom.right {
  right: 10px;
}
/* --- LESS mixin to generate multiple sizes --- */
/* Five Column, 1140 web max  */
@media only screen and (min-width: 1140px) {
  .container .rectangles-outer {
    width: 19.1%;
    height: 75px;
    margin-right: 1.1%;
    margin-bottom: 1.2%;
  }
  .container .rectangles-outer:nth-child( 6),
  .container .rectangles-outer:nth-child( 11),
  .container .rectangles-outer:nth-child( 16),
  .container .rectangles-outer:nth-child( 21),
  .container .rectangles-outer:nth-child( 26),
  .container .rectangles-outer:nth-child( 31),
  .container .rectangles-outer:nth-child( 36),
  .container .rectangles-outer:nth-child( 41),
  .container .rectangles-outer:nth-child( 46),
  .container .rectangles-outer:nth-child( 51),
  .container .rectangles-outer:nth-child( 56),
  .container .rectangles-outer:nth-child( 61),
  .container .rectangles-outer:nth-child( 66),
  .container .rectangles-outer:nth-child( 71),
  .container .rectangles-outer:nth-child( 76),
  .container .rectangles-outer:nth-child( 81),
  .container .rectangles-outer:nth-child( 86),
  .container .rectangles-outer:nth-child( 91),
  .container .rectangles-outer:nth-child( 96),
  .container .rectangles-outer:nth-child( 101),
  .container .rectangles-outer:nth-child( 106),
  .container .rectangles-outer:nth-child( 111),
  .container .rectangles-outer:nth-child( 116),
  .container .rectangles-outer:nth-child( 121),
  .container .rectangles-outer:nth-child( 126),
  .container .rectangles-outer:nth-child( 131),
  .container .rectangles-outer:nth-child( 136),
  .container .rectangles-outer:nth-child( 141),
  .container .rectangles-outer:nth-child( 146),
  .container .rectangles-outer:nth-child( 151),
  .container .rectangles-outer:nth-child( 156),
  .container .rectangles-outer:nth-child( 161),
  .container .rectangles-outer:nth-child( 166),
  .container .rectangles-outer:nth-child( 171),
  .container .rectangles-outer:nth-child( 176),
  .container .rectangles-outer:nth-child( 181),
  .container .rectangles-outer:nth-child( 186),
  .container .rectangles-outer:nth-child( 191),
  .container .rectangles-outer:nth-child( 196),
  .container .rectangles-outer:nth-child( 201) {
    margin-right: 0px;
  }
  .container .rectangles-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px;
    overflow: hidden;
  }
}
/* Four Column, 960 web */
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  .container .rectangles-outer {
    width: 23.1%;
    height: 75px;
    margin-right: 2.25%;
    margin-bottom: 2%;
  }
  .container .rectangles-outer:nth-child( 5),
  .container .rectangles-outer:nth-child( 9),
  .container .rectangles-outer:nth-child( 13),
  .container .rectangles-outer:nth-child( 17),
  .container .rectangles-outer:nth-child( 21),
  .container .rectangles-outer:nth-child( 25),
  .container .rectangles-outer:nth-child( 29),
  .container .rectangles-outer:nth-child( 33),
  .container .rectangles-outer:nth-child( 37),
  .container .rectangles-outer:nth-child( 41),
  .container .rectangles-outer:nth-child( 45),
  .container .rectangles-outer:nth-child( 49),
  .container .rectangles-outer:nth-child( 53),
  .container .rectangles-outer:nth-child( 57),
  .container .rectangles-outer:nth-child( 61),
  .container .rectangles-outer:nth-child( 65),
  .container .rectangles-outer:nth-child( 69),
  .container .rectangles-outer:nth-child( 73),
  .container .rectangles-outer:nth-child( 77),
  .container .rectangles-outer:nth-child( 81),
  .container .rectangles-outer:nth-child( 85),
  .container .rectangles-outer:nth-child( 89),
  .container .rectangles-outer:nth-child( 93),
  .container .rectangles-outer:nth-child( 97),
  .container .rectangles-outer:nth-child( 101),
  .container .rectangles-outer:nth-child( 105),
  .container .rectangles-outer:nth-child( 109),
  .container .rectangles-outer:nth-child( 113),
  .container .rectangles-outer:nth-child( 117),
  .container .rectangles-outer:nth-child( 121),
  .container .rectangles-outer:nth-child( 125),
  .container .rectangles-outer:nth-child( 129),
  .container .rectangles-outer:nth-child( 133),
  .container .rectangles-outer:nth-child( 137),
  .container .rectangles-outer:nth-child( 141),
  .container .rectangles-outer:nth-child( 145),
  .container .rectangles-outer:nth-child( 149),
  .container .rectangles-outer:nth-child( 153),
  .container .rectangles-outer:nth-child( 157),
  .container .rectangles-outer:nth-child( 161) {
    margin-right: 0px;
  }
  .container .rectangles-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px;
    overflow: hidden;
  }
}
/* Three Column, tablet landscape  */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container .rectangles-outer {
    width: 31.25%;
    height: 75px;
    margin-right: 2.75%;
    margin-bottom: 2.25%;
  }
  .container .rectangles-outer:nth-child( 4),
  .container .rectangles-outer:nth-child( 7),
  .container .rectangles-outer:nth-child( 10),
  .container .rectangles-outer:nth-child( 13),
  .container .rectangles-outer:nth-child( 16),
  .container .rectangles-outer:nth-child( 19),
  .container .rectangles-outer:nth-child( 22),
  .container .rectangles-outer:nth-child( 25),
  .container .rectangles-outer:nth-child( 28),
  .container .rectangles-outer:nth-child( 31),
  .container .rectangles-outer:nth-child( 34),
  .container .rectangles-outer:nth-child( 37),
  .container .rectangles-outer:nth-child( 40),
  .container .rectangles-outer:nth-child( 43),
  .container .rectangles-outer:nth-child( 46),
  .container .rectangles-outer:nth-child( 49),
  .container .rectangles-outer:nth-child( 52),
  .container .rectangles-outer:nth-child( 55),
  .container .rectangles-outer:nth-child( 58),
  .container .rectangles-outer:nth-child( 61),
  .container .rectangles-outer:nth-child( 64),
  .container .rectangles-outer:nth-child( 67),
  .container .rectangles-outer:nth-child( 70),
  .container .rectangles-outer:nth-child( 73),
  .container .rectangles-outer:nth-child( 76),
  .container .rectangles-outer:nth-child( 79),
  .container .rectangles-outer:nth-child( 82),
  .container .rectangles-outer:nth-child( 85),
  .container .rectangles-outer:nth-child( 88),
  .container .rectangles-outer:nth-child( 91),
  .container .rectangles-outer:nth-child( 94),
  .container .rectangles-outer:nth-child( 97),
  .container .rectangles-outer:nth-child( 100),
  .container .rectangles-outer:nth-child( 103),
  .container .rectangles-outer:nth-child( 106),
  .container .rectangles-outer:nth-child( 109),
  .container .rectangles-outer:nth-child( 112),
  .container .rectangles-outer:nth-child( 115),
  .container .rectangles-outer:nth-child( 118),
  .container .rectangles-outer:nth-child( 121) {
    margin-right: 0px;
  }
  .container .rectangles-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px;
    overflow: hidden;
  }
}
/* Two Column, mobile portrait & landscape */
@media only screen and (max-width: 767px) {
  .container .rectangles-outer {
    width: 48.5%;
    height: 75px;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .container .rectangles-outer:nth-child( 3),
  .container .rectangles-outer:nth-child( 5),
  .container .rectangles-outer:nth-child( 7),
  .container .rectangles-outer:nth-child( 9),
  .container .rectangles-outer:nth-child( 11),
  .container .rectangles-outer:nth-child( 13),
  .container .rectangles-outer:nth-child( 15),
  .container .rectangles-outer:nth-child( 17),
  .container .rectangles-outer:nth-child( 19),
  .container .rectangles-outer:nth-child( 21),
  .container .rectangles-outer:nth-child( 23),
  .container .rectangles-outer:nth-child( 25),
  .container .rectangles-outer:nth-child( 27),
  .container .rectangles-outer:nth-child( 29),
  .container .rectangles-outer:nth-child( 31),
  .container .rectangles-outer:nth-child( 33),
  .container .rectangles-outer:nth-child( 35),
  .container .rectangles-outer:nth-child( 37),
  .container .rectangles-outer:nth-child( 39),
  .container .rectangles-outer:nth-child( 41),
  .container .rectangles-outer:nth-child( 43),
  .container .rectangles-outer:nth-child( 45),
  .container .rectangles-outer:nth-child( 47),
  .container .rectangles-outer:nth-child( 49),
  .container .rectangles-outer:nth-child( 51),
  .container .rectangles-outer:nth-child( 53),
  .container .rectangles-outer:nth-child( 55),
  .container .rectangles-outer:nth-child( 57),
  .container .rectangles-outer:nth-child( 59),
  .container .rectangles-outer:nth-child( 61),
  .container .rectangles-outer:nth-child( 63),
  .container .rectangles-outer:nth-child( 65),
  .container .rectangles-outer:nth-child( 67),
  .container .rectangles-outer:nth-child( 69),
  .container .rectangles-outer:nth-child( 71),
  .container .rectangles-outer:nth-child( 73),
  .container .rectangles-outer:nth-child( 75),
  .container .rectangles-outer:nth-child( 77),
  .container .rectangles-outer:nth-child( 79),
  .container .rectangles-outer:nth-child( 81) {
    margin-right: 0px;
  }
  .container .rectangles-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px;
    overflow: hidden;
  }
}
/* Two Column, mobile portrait */
@media only screen and (max-width: 480px) {
  .container .rectangles-outer {
    width: 100%;
    height: 75px;
    margin-right: 4%;
    margin-bottom: 2%;
  }
  .container .rectangles-outer:nth-child( 2),
  .container .rectangles-outer:nth-child( 3),
  .container .rectangles-outer:nth-child( 4),
  .container .rectangles-outer:nth-child( 5),
  .container .rectangles-outer:nth-child( 6),
  .container .rectangles-outer:nth-child( 7),
  .container .rectangles-outer:nth-child( 8),
  .container .rectangles-outer:nth-child( 9),
  .container .rectangles-outer:nth-child( 10),
  .container .rectangles-outer:nth-child( 11),
  .container .rectangles-outer:nth-child( 12),
  .container .rectangles-outer:nth-child( 13),
  .container .rectangles-outer:nth-child( 14),
  .container .rectangles-outer:nth-child( 15),
  .container .rectangles-outer:nth-child( 16),
  .container .rectangles-outer:nth-child( 17),
  .container .rectangles-outer:nth-child( 18),
  .container .rectangles-outer:nth-child( 19),
  .container .rectangles-outer:nth-child( 20),
  .container .rectangles-outer:nth-child( 21),
  .container .rectangles-outer:nth-child( 22),
  .container .rectangles-outer:nth-child( 23),
  .container .rectangles-outer:nth-child( 24),
  .container .rectangles-outer:nth-child( 25),
  .container .rectangles-outer:nth-child( 26),
  .container .rectangles-outer:nth-child( 27),
  .container .rectangles-outer:nth-child( 28),
  .container .rectangles-outer:nth-child( 29),
  .container .rectangles-outer:nth-child( 30),
  .container .rectangles-outer:nth-child( 31),
  .container .rectangles-outer:nth-child( 32),
  .container .rectangles-outer:nth-child( 33),
  .container .rectangles-outer:nth-child( 34),
  .container .rectangles-outer:nth-child( 35),
  .container .rectangles-outer:nth-child( 36),
  .container .rectangles-outer:nth-child( 37),
  .container .rectangles-outer:nth-child( 38),
  .container .rectangles-outer:nth-child( 39),
  .container .rectangles-outer:nth-child( 40),
  .container .rectangles-outer:nth-child( 41) {
    margin-right: 0px;
  }
  .container .rectangles-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px;
    overflow: hidden;
  }
}
/* Shapes */
/* #Tables
================================================== */
.full-width-table {
  width: 100%;
  margin: 20px 0 30px 0;
}
.full-width-table td,
.full-width-table th {
  padding: 15px;
}
.rounded {
  border-right: solid #ccc 1px;
  border-left: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.rounded td,
.rounded th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}
.rounded th {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(top, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rounded td:first-child,
.rounded th:first-child {
  border-left: none;
}
.rounded th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.rounded th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.rounded th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.rounded tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.rounded tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
/* Zebra Striping ----------------------*/
.zebra td,
.zebra th {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.zebra tbody tr:nth-child(even) {
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}
.zebra th {
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
}
.zebra th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.zebra th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.zebra th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.zebra tfoot td {
  border-bottom: 0;
  border-top: 1px solid #fff;
  background-color: #f1f1f1;
}
.zebra tfoot td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.zebra tfoot td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
.zebra tfoot td:only-child {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* Both */
.rounded tr:hover,
.zebra tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* #Typography
================================================== */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: OpenSans-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -2px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}
h2 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
h3 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 30px;
}
h4 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}
h5 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
h6 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
}
.subheader {
  color: #777;
}
/* Non Headings */
p {
  margin: 0 0 20px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}
i,
em {
  font-style: OpenSans-Italic, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
b,
strong {
  font-family: OpenSans-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333333;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  font-style: italic;
  margin: 0 0 10px 0;
}
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 4px solid #c9c9c9;
}
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
/* Pre */
pre,
.pre {
  margin-bottom: 20px;
  background: #d7d7d7;
  color: #333333;
  padding: 4px 8px;
  border: 1px solid #b7bfc8;
  border-radius: 3px;
  font-family: 'Courier';
  font-size: 14px;
  font-weight: bold;
}
pre {
  display: inline-block;
}
