/* #Buttons
================================================== */

	/* Global */
	button,
  button:hover,
  button:active,
	input[type="submit"],
  input[type="submit"]:hover,
  input[type="submit"]:active,
	input[type="reset"],
  input[type="reset"]:hover,
  input[type="reset"]:active,
	input[type="button"],
  input[type="button"]:hover,
  input[type="button"]:active,
	.button-primary,
  .button-secondary,
  .button-info,
  .button-alert,
  .button-warning {
    .button-global(@btn-font-family, @btn-font-size, @btn-font-weight, @btn-margin, @btn-padding);
    outline: none;
	}

  a.button-primary,
  a.button-primary:visited,
  a.button-primary:hover,
  a.button-secondary,
  a.button-secondary:visited,
  a.button-secondary:hover,
  a.button-info,
  a.button-info:visited,
  a.button-info:hover,
  a.button-alert,
  a.button-alert:visited,
  a.button-alert:hover,
  a.button-warning,
  a.button-warning:visited,
  a.button-warning:hover {
		text-decoration: none;
  }

	.button-small,
	button.button-small,
	input[type="submit"].button-small,
	input[type="reset"].button-small,
	input[type="button"].button-small, {
    .button-global(@btn-font-family, @btn-small-font-size, @btn-small-font-weight, @btn-small-margin, @btn-small-padding);
	}


  /* Primary */
	button,
	button.button-primary,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	input[type="submit"].button-primary,
	input[type="reset"].button-primary,
	input[type="button"].button-primary,
  a.button-primary {
		.button-colors(@btn-primary-color, @btn-primary-text-shadow, @btn-primary-border-color, @btn-primary-background);
  }

	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	a.button-primary:hover {
		.button-colors-hover(@btn-primary-border-color-hover, @btn-primary-background-hover);
	}

	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active,
	a.button-primary:active {
		.button-colors-active(@btn-primary-border-color-active, @btn-primary-background-active);
	}


	/* Secondary */
	button.button-secondary,
	input[type="submit"].button-secondary,
	input[type="reset"].button-secondary,
	input[type="button"].button-secondary,
	a.button-secondary {
		.button-colors(@btn-secondary-color, @btn-secondary-text-shadow, @btn-secondary-border-color, @btn-secondary-background);
	}

  .button-secondary:hover,
	input[type="submit"].button-secondary:hover,
	input[type="reset"].button-secondary:hover,
	input[type="button"].button-secondary:hover,
	a.button-secondary:hover {
		.button-colors-hover(@btn-secondary-border-color-hover, @btn-secondary-background-hover);
	}
	button.button-secondary:active,
	input[type="submit"].button-secondary:active,
	input[type="reset"].button-secondary:active,
	input[type="button"].button-secondary:active,
  a.button-secondary:active {
		.button-colors-active(@btn-secondary-border-color-active, @btn-secondary-background-active);
	}


	/* Info */
	button.button-info,
	input[type="submit"].button-info,
	input[type="reset"].button-info,
	input[type="button"].button-info,
	a.button-info {
		.button-colors(@btn-info-color, @btn-info-text-shadow, @btn-info-border-color, @btn-info-background);
	}

  button.button-info:hover,
	input[type="submit"].button-info:hover,
	input[type="reset"].button-info:hover,
	input[type="button"].button-info:hover,
	a.button-info:hover {
		.button-colors-hover(@btn-info-border-color-hover, @btn-info-background-hover);
	}

	button.button-info:active,
	input[type="submit"].button-info:active,
	input[type="reset"].button-info:active,
	input[type="button"].button-info:active,
	a.button-info:active {
		.button-colors-active(@btn-info-border-color-active, @btn-info-background-active);
	}


	/* Alert */
  button.button-alert,
	input[type="submit"].button-alert,
	input[type="reset"].button-alert,
	input[type="button"].button-alert,
	a.button-alert {
		.button-colors(@btn-alert-color, @btn-alert-text-shadow, @btn-alert-border-color, @btn-alert-background);
	}

	button.button-alert:hover,
	input[type="submit"].button-alert:hover,
	input[type="reset"].button-alert:hover,
	input[type="button"].button-alert:hover,
	a.button-alert:hover {
		.button-colors-hover(@btn-alert-border-color-hover, @btn-alert-background-hover);
	}

  button.button-alert:active,
	input[type="submit"].button-alert:active,
	input[type="reset"].button-alert:active,
	input[type="button"].button-alert:active,
	a.button-alert:active {
		.button-colors-active(@btn-alert-border-color-active, @btn-alert-background-active);
	}


	/* Warning */
  button.button-warning,
	input[type="submit"].button-warning,
	input[type="reset"].button-warning,
	input[type="button"].button-warning,
	a.button-warning {
		.button-colors(@btn-warning-color, @btn-warning-text-shadow, @btn-warning-border-color, @btn-warning-background);
	}

  button.button-warning:hover,
	input[type="submit"].button-warning:hover,
	input[type="reset"].button-warning:hover,
	input[type="button"].button-warning:hover,
	a.button-warning:hover {
		.button-colors-hover(@btn-warning-border-color-hover, @btn-warning-background-hover);
	}

  button.button-warning:active,
	input[type="submit"].button-warning:active,
	input[type="reset"].button-warning:active,
	input[type="button"].button-warning:active,
  a.button-warning:active {
		.button-colors-active(@btn-warning-border-color-active, @btn-warning-background-active);
	}


	/* Icons */
	.button span,
	.button-secondary span,
	.button-alert span,
	.button-warning span, {
		margin-right: 5px;
	}

	/* Full Width */
	.button.full-width,
	.button-primary.full-width,
	.button-secondary.full-width,
	.button-alert.full-width,
	.button-warning.full-width,
	.button-big-primary.full-width,
	.button-big-secondary.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    	border: 0;
    	padding: 0;
	}
