/* --- Clearing --- */

  .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }


/* Clearfix helper */

  .clearfix {
    zoom: 1;
    &:before, &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }


/* Vertical Margins & Padding */

  .remove-top		  { margin-top: 0 !important; }
  .half-top		    { margin-top: (@base-margin / 2) !important; }
  .add-top		    { margin-top: @base-margin !important; }
  .double-top		  { margin-top: (@base-margin * 2) !important; }

  .remove-bottom	{ margin-bottom: 0 !important; }
  .half-bottom	  { margin-bottom: (@base-margin / 2) !important; }
  .add-bottom		  { margin-bottom: @base-margin !important; }
  .double-bottom  { margin-top: (@base-margin * 2) !important; }

/* Centering */

  .left			  { float: left; }
  .center			{ margin-left: auto; margin-right: auto; }
  .right			{ float: right; }
  
  .verticle-middle{ display: inline-table !important; vertical-align: middle; }
  
  .text-left		{ text-align: left; }
  .text-center	{ text-align: center; }
  .text-right 	{ text-align: right; }

  .middle { vertical-align: middle; }

  .remove-right   { margin-right: 0px; }
  .add-right      { margin-right: @base-margin; }
  .add-right-half { margin-right: (@base-margin / 2); }
  .add-right-double{ margin-left: (@base-margin * 2); }

  .remove-left    { margin-left: 0px; }
  .add-left       { margin-left: @base-margin; }
  .add-left-half  { margin-left: (@base-margin / 2); }
  .add-left-double{ margin-left: (@base-margin * 2); }


/* Hide */

  .hide			    { display: none; }

