/**
 * @name Rebar Rectangles
 * @description
 *   - web max 1140
 *   - web 960
 *   - tablet
 *   - mobile
 */

.rectangles-outer { position: relative; float: left; display: block; }
.rectangles-inner h1,
.rectangles-inner h2,
.rectangles-inner h3,
.rectangles-inner h4  { font-size: @rectangles-header-font-size; margin-bottom: @rectangles-padding; }
.rectangles-inner p   { font-size: @rectangles-paragraph-font-size; }
.rectangles-inner p a { font-size: @rectangles-paragraph-font-size; color: @rectangles-link-color; }
.rectangles-inner a.bottom { position: absolute; bottom: @rectangles-padding; }
.rectangles-inner a.bottom.right { right: @rectangles-padding; }

/* --- LESS mixin to generate multiple sizes --- */
.rectangles(@blocks, @width, @margin-right, @margin-bottom) {

    .rectangles-outer {
    	width: @width;
      height: @rectangles-height;
    	margin-right: @margin-right;
    	margin-bottom: @margin-bottom;
    }

    @nth1: @blocks + 1;
    @nth2: (@blocks * 2) + 1;
    @nth3: (@blocks * 3) + 1;
    @nth4: (@blocks * 4) + 1;
    @nth5: (@blocks * 5) + 1;
    @nth6: (@blocks * 6) + 1;
    @nth7: (@blocks * 7) + 1;
    @nth8: (@blocks * 8) + 1;
    @nth9: (@blocks * 9) + 1;
    @nth10: (@blocks * 10) + 1;
    @nth11: (@blocks * 11) + 1;
    @nth12: (@blocks * 12) + 1;
    @nth13: (@blocks * 13) + 1;
    @nth14: (@blocks * 14) + 1;
    @nth15: (@blocks * 15) + 1;
    @nth16: (@blocks * 16) + 1;
    @nth17: (@blocks * 17) + 1;
    @nth18: (@blocks * 18) + 1;
    @nth19: (@blocks * 19) + 1;
    @nth20: (@blocks * 20) + 1;
    @nth21: (@blocks * 21) + 1;
    @nth22: (@blocks * 22) + 1;
    @nth23: (@blocks * 23) + 1;
    @nth24: (@blocks * 24) + 1;
    @nth25: (@blocks * 25) + 1;
    @nth26: (@blocks * 26) + 1;
    @nth27: (@blocks * 27) + 1;
    @nth28: (@blocks * 28) + 1;
    @nth29: (@blocks * 29) + 1;
    @nth30: (@blocks * 30) + 1;
    @nth31: (@blocks * 31) + 1;
    @nth32: (@blocks * 32) + 1;
    @nth33: (@blocks * 33) + 1;
    @nth34: (@blocks * 34) + 1;
    @nth35: (@blocks * 35) + 1;
    @nth36: (@blocks * 36) + 1;
    @nth37: (@blocks * 37) + 1;
    @nth38: (@blocks * 38) + 1;
    @nth39: (@blocks * 39) + 1;
    @nth40: (@blocks * 40) + 1;

    .rectangles-outer:nth-child(@{nth1}), 
    .rectangles-outer:nth-child(@{nth2}),
    .rectangles-outer:nth-child(@{nth3}),
    .rectangles-outer:nth-child(@{nth4}),
    .rectangles-outer:nth-child(@{nth5}),
    .rectangles-outer:nth-child(@{nth6}),
    .rectangles-outer:nth-child(@{nth7}),
    .rectangles-outer:nth-child(@{nth8}),
    .rectangles-outer:nth-child(@{nth9}),
    .rectangles-outer:nth-child(@{nth10}),
    .rectangles-outer:nth-child(@{nth11}), 
    .rectangles-outer:nth-child(@{nth12}),
    .rectangles-outer:nth-child(@{nth13}),
    .rectangles-outer:nth-child(@{nth14}),
    .rectangles-outer:nth-child(@{nth15}),
    .rectangles-outer:nth-child(@{nth16}),
    .rectangles-outer:nth-child(@{nth17}),
    .rectangles-outer:nth-child(@{nth18}),
    .rectangles-outer:nth-child(@{nth19}),
    .rectangles-outer:nth-child(@{nth20}),
    .rectangles-outer:nth-child(@{nth21}), 
    .rectangles-outer:nth-child(@{nth22}),
    .rectangles-outer:nth-child(@{nth23}),
    .rectangles-outer:nth-child(@{nth24}),
    .rectangles-outer:nth-child(@{nth25}),
    .rectangles-outer:nth-child(@{nth26}),
    .rectangles-outer:nth-child(@{nth27}),
    .rectangles-outer:nth-child(@{nth28}),
    .rectangles-outer:nth-child(@{nth29}),
    .rectangles-outer:nth-child(@{nth30}),
    .rectangles-outer:nth-child(@{nth31}), 
    .rectangles-outer:nth-child(@{nth32}),
    .rectangles-outer:nth-child(@{nth33}),
    .rectangles-outer:nth-child(@{nth34}),
    .rectangles-outer:nth-child(@{nth35}),
    .rectangles-outer:nth-child(@{nth36}),
    .rectangles-outer:nth-child(@{nth37}),
    .rectangles-outer:nth-child(@{nth38}),
    .rectangles-outer:nth-child(@{nth39}),
    .rectangles-outer:nth-child(@{nth40}) {
      margin-right: 0px;
    }

    .rectangles-inner {
      position: absolute;
      left: 1px;
      top: 1px;
      bottom: 1px;
      right: 1px;
      padding: @rectangles-padding;
      overflow: hidden;
    }
}

/* Five Column, 1140 web max  */
@media only screen and (min-width: 1140px) {
  .container {
    .rectangles(5, 19.1%, 1.1%, 1.2%);
  }
}

/* Four Column, 960 web */
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  .container {
    .rectangles(4, 23.1%, 2.25%, 2%);
  }
}

/* Three Column, tablet landscape  */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    .rectangles(3, 31.25%, 2.75%, 2.25%);
  }
}

/* Two Column, mobile portrait & landscape */
@media only screen and (max-width: 767px) {
  .container {
    .rectangles(2, 48.5%, 3%, 3%);
  }
}

/* Two Column, mobile portrait */
@media only screen and (max-width: 480px) {
  .container {
    .rectangles(1, 100%, 4%, 2%);
  }
}